<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container">
                        <a class="navbar-brand" href="/"><img src="media/logo.png" alt=""></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="bi bi-list"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto">
                                <% if (username !== null){%>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#footer">Contact</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Welcome to <%=username%></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/testipost/">Testimonials Post here</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout/">Logout</a>
                                </li>
                                <% }else{%>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/register/">Register</a>
                                    </li>
                                    <% } %>
                            </ul>
                            
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>