<div class="col-md-3">
    <a href="/admin/banner/">
        <button class="btn btn-success form-control mt-2">Banner</button>
    </a>
    <a href="/admin/contact/">
        <button class="btn btn-success form-control mt-2">Contact Query </button>
    </a>
    <a href="/admin/address/">
        <button class="btn btn-success form-control mt-2">Address</button>
    </a>
    <a href="/admin/usersmng/">
        <button class="btn btn-success form-control mt-2">User's Management</button>
    </a>
    <a href="/admin/testimonials/">
        <button class="btn btn-success form-control mt-2">Testimonials</button>
    </a>
</div>